@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  ul, ol {
    list-style: revert;
    padding: revert;
    margin: revert;
  }
}

.quote {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../public/idezet_bg.jpg);
  background-position: center;
  background-size: cover;
}

.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../public/szalai_eva.jpeg);
  background-position: center;
  background-size: cover;
}

.main-nav {
  background-image: url(../public/hero-bg.jpg);
  background-position: center;
  background-size: cover;
}

.button {
  border: 2px solid #9f844e;
  border-left: 0;
  border-right: 0;
  padding: 6px;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  color: #161718;
  background: #9f844e;
}

.pricing-card {
  background-color: #9f844e;
  border-radius: 7px;
  border: 2px solid #161718;
}

.card {
  backdrop-filter: blur(11px) saturate(151%);
  -webkit-backdrop-filter: blur(11px) saturate(151%);
  background-color: #16171850;
  border-radius: 5px;
  border: 1px solid #9f844e;
}

.btn-one {
  color: #fff !important;
  transition: all 0.3s;
  position: relative;
}

.btn-one span {
  transition: all 0.3s;
}

.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}

.btn-one:hover span {
  letter-spacing: 2px;
}

.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.custom-underline {
  position: relative;
  padding-bottom: 20px;
}

.custom-underline::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60%;
  background-color: #9f844e;
  bottom: 0;
  left: 0;
}

.custom-link-underline {
  position: relative;
}

.custom-link-underline::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #9f844e;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.custom-link-underline:hover::after {
  width: 100%;
}

.arak {
  /* background-color: hsla(40, 34%, 46%, 1);
  background-image: radial-gradient(
      at 0% 1%,
      hsla(210, 4%, 9%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 99% 99%, hsla(210, 4%, 9%, 1) 0px, transparent 50%); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1177%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(22%2c 23%2c 24%2c 1)'%3e%3c/rect%3e%3ccircle r='26.6' cx='93.11' cy='387.8' fill='rgba(59%2c 59%2c 59%2c 1)'%3e%3c/circle%3e%3ccircle r='32.53' cx='638.34' cy='182.45' fill='rgba(59%2c 59%2c 59%2c 1)'%3e%3c/circle%3e%3ccircle r='25.44' cx='10.16' cy='355.57' fill='rgba(59%2c 59%2c 59%2c 1)'%3e%3c/circle%3e%3ccircle r='53.895' cx='1387.67' cy='290.41' fill='rgba(59%2c 59%2c 59%2c 1)'%3e%3c/circle%3e%3ccircle r='50.53' cx='1204.75' cy='550.11' fill='rgba(59%2c 59%2c 59%2c 1)'%3e%3c/circle%3e%3ccircle r='45.51' cx='303.11' cy='109.81' fill='rgba(59%2c 59%2c 59%2c 1)'%3e%3c/circle%3e%3ccircle r='31.82' cx='1154.43' cy='64.17' fill='rgba(59%2c 59%2c 59%2c 1)'%3e%3c/circle%3e%3ccircle r='32.245' cx='740.76' cy='545.93' fill='rgba(59%2c 59%2c 59%2c 1)'%3e%3c/circle%3e%3ccircle r='36.595' cx='212.02' cy='12.68' fill='rgba(59%2c 59%2c 59%2c 1)'%3e%3c/circle%3e%3ccircle r='31.395' cx='1405.59' cy='229.85' fill='rgba(59%2c 59%2c 59%2c 1)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1177'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-size: cover;
}

.csoportok {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(22%2c 23%2c 24%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c371.143C92.606%2c377.134%2c185.092%2c458.379%2c268.69%2c418.089C351.197%2c378.325%2c365.36%2c267.096%2c395.41%2c180.577C422.929%2c101.347%2c451.822%2c19.663%2c435.659%2c-62.638C419.873%2c-143.021%2c360.737%2c-204.191%2c307.6%2c-266.537C254.038%2c-329.382%2c204.579%2c-403.641%2c125.312%2c-426.772C46.083%2c-449.892%2c-32.92%2c-402.689%2c-114.423%2c-389.688C-210.442%2c-374.371%2c-320.435%2c-404.15%2c-396.464%2c-343.538C-474.509%2c-281.319%2c-517.647%2c-173.074%2c-511.064%2c-73.48C-504.749%2c22.049%2c-410.576%2c82.72%2c-362.804%2c165.687C-320.762%2c238.702%2c-320.554%2c343.194%2c-247.24%2c384.712C-173.935%2c426.225%2c-84.067%2c365.704%2c0%2c371.143' fill='%23121213'%3e%3c/path%3e%3cpath d='M1440 1221.755C1562.604 1221.1950000000002 1679.037 1152.731 1764.311 1064.638 1841.151 985.259 1829.141 858.639 1884.21 762.864 1947.758 652.342 2095.754 590.399 2109.8450000000003 463.69100000000003 2124.258 334.091 2051.385 201.90699999999998 1956.548 112.40899999999999 1864.987 26.001999999999953 1732.637 3.2390000000000327 1607.482-10.393000000000029 1497.837-22.335000000000036 1395.753 20.166000000000054 1287.1680000000001 39.5 1162.653 61.670000000000016 1019.506 30.438999999999965 922.485 111.57100000000003 822.906 194.84300000000002 761.227 336.23 778.476 464.887 795.293 590.323 947.47 646.237 1008.996 756.833 1063.241 854.342 1037.92 985.781 1113.779 1067.6100000000001 1197.234 1157.633 1317.246 1222.316 1440 1221.755' fill='%231a1c1d'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-size: cover;
}
